extends layout

block content
  - let items = results
 
  .container-fluid
    .row
      each item, index in items
        .col-sm-4
          .instrument(onclick=`buy(${index})`)
            h3 #{item.lighthouse_type}
            p size: #{item.size}
            p cost: #{item.cost}
          .col-sm-2
            p name: #{item.lighthouse_type}
            p size: #{item.size}
            p cost: #{item.cost}
  script.
    function buy(index) {
      alert("You purchased item " + index);
    }
